@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Plus Jakarta Sans';
  src:  url('../public/fonts/PlusJakartaSans-Medium.ttf') ;
}
@font-face {
  font-family: 'Plus Jakarta Sans Semibold';
  src: url('../public/fonts/PlusJakartaSans-SemiBold.ttf');
}

body { 
  font-family: 'Plus Jakarta Sans' !important;
  background-color: #FAFAFA !important;
}
.PJS-semibold{
  font-family: 'Plus Jakarta Sans Semibold' !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
